<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzsoft.demo2.dao.mapper.DmTextMapper">
	
	<resultMap id="BaseResultMap" type="com.jzsoft.demo2.entity.DmText">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="comments" property="comments"/>
		<result column="remarks" property="remarks"/>
		<result column="num" property="num"/>
		<result column="del_flag" property="delFlag"/>
	</resultMap>
    
	<sql id="Base_Column_List">
		id,
		name,
		email,
		comments,
		remarks,
		num,
		del_flag
	</sql>
	
	<sql id="whereStatementByPage">
		<where>
			1 = 1
			<if test="condition !=null">
			<if test="condition.name != null and condition.name != ''">
				AND name LIKE 
					<if test="dbName == 'oracle'">'%'||#{condition.name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{condition.name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{condition.name},'%')</if>
			</if>
			</if>
		</where>
	</sql>
	
	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="name != null and name != ''">
				AND name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
	</sql>
	
	<select id="getPage" resultMap="BaseResultMap" parameterType="com.jzsoft.platform.core.dao.Page">
		select * from dm_text 
		<include refid="whereStatementByPage" /> 
		order by id desc
	</select>
	
	<select id="getList" resultMap="BaseResultMap" parameterType="com.jzsoft.demo2.entity.DmText">
		SELECT 
		<include refid="Base_Column_List" /> 
		from dm_text 
		<include refid="whereStatement" /> 
		order by id desc
	</select>
	
	<select id="getAll" resultMap="BaseResultMap" parameterType="com.jzsoft.demo2.entity.DmText">
		SELECT 
		<include refid="Base_Column_List" /> 
		from dm_text 
		order by id desc
	</select>
	
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
		<include refid="Base_Column_List" /> 
		from dm_text c where id = #{id}
	</select>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from dm_text where id = #{id}
	</delete>
	
	<insert id="save" parameterType="com.jzsoft.demo2.entity.DmText">
		insert into dm_text 
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
			id,
			</if>
			<if test="name != null and name != ''">
			name,
			</if>
			<if test="email != null and email != ''">
			email,
			</if>
			<if test="comments != null and comments != ''">
			comments,
			</if>
			<if test="remarks != null and remarks != ''">
			remarks,
			</if>
			<if test="num != null ">
			num,
			</if>
			<if test="delFlag != null ">
			del_flag,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="name != null and name != ''">
				#{name},
			</if>
			<if test="email != null and email != ''">
				#{email},
			</if>
			<if test="comments != null and comments != ''">
				#{comments},
			</if>
			<if test="remarks != null and remarks != ''">
				#{remarks},
			</if>
			<if test="num != null ">
				#{num},
			</if>
			<if test="delFlag != null ">
				#{delFlag},
			</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="com.jzsoft.demo2.entity.DmText">
		update dm_text 
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="comments != null and comments != ''">
				comments = #{comments},
			</if>
			<if test="remarks != null and remarks != ''">
				remarks = #{remarks},
			</if>
			<if test="num != null ">
				num = #{num},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>